/** 
 *
 * Main layout based on Online Tutorial's responsive web design tutorial on YouTube.
 @ https://www.youtube.com/watch?v=enBAFo2kEfE
 *
 * Semi-transparent layer over background
 @ https://stackoverflow.com/questions/9182978/semi-transparent-color-layer-over-background-image
 *
**/ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body
{
  min-height: 1000px;
}

section
{
  padding: 75px 50px 0px 50px;
}

p
{
  font-weight: 300;
  color: #111;
}

#poetry p,
#boxing p,
#programming p
{
  font-size: 1.05em;
}

#banner
{
  position: relative;
  width: 100%;
  min-height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(img/Homepage_Collage.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}


.layer
{
  background-color: rgba(0, 0, 0, 0.7);
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#banner .content 
{
  z-index: 2;
  max-width: 900px;
  text-align: center;
}

#banner .content h2
{
  font-size: 4em;
  color: white;
  font-weight: bold;
}

#banner .content p 
{
  font-size: 1em;
  color: white;
}

.custom_button
{
  font-size: 1em;
  color: white;
  background: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s
}

.custom_button:hover
{
  letter-spacing: 6px;
  padding: 9px 30px;
  color:white;
}

header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky
{
  background-color: white;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);

}

header .logo
{
  color: white;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

header.sticky .logo
{
  color: #111;

}

header .logo span
{
  color: #ff0157;
}

header .navigation
{
  position: relative;
  display: flex;
  margin-right: 10%;
}

header .navigation li
{
  list-style: none;
  margin-left: 30px;
}

header .navigation li a
{
  text-decoration: none;
  color: #111;
  font-weight: 300;
}

header.sticky .navigation li a
{
  color: #111;
}

header .navigation li a:hover
{
  color: #ff0157;
}

.title_text
{
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.title_text span
{
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}

/* *** Media Queries  *** */
@media (max-width:767px)
{
  #banner 
  {
    background: url(img/selfie.jpg);
    background-position: center center;
    background-repeat: no-repeat;
  }
}

/* *** Card Carousel *** */

.image-container
{
  height: 250px;
}

.card
{
  width: 20rem;
  max-heigth: 533px !important;
}

.card_img
{
  width: 20rem;
  max-width: 100%;
  min-height: 250px;
  background-size: contain;
  background-position: center center;
}

#kenny-g
{
  background: url(img/kenny-g.jpg);
}

#ronnie-cuber
{
  background: url(img/ronnie-cuber2.jpg);
}

#coltrane
{
  background: url(img/coltrane.jpg);
}

#ella
{
  background: url(img/ella.jpg);
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next
{
  color: gray;
  background: transparent;
  font-size: 2rem;
}

.owl-theme .owl-nav [class*="owl-"]:hover
{
  background: transparent;
  color: #ff0157;
}

/* From here on it's just the tutorial */

/* *** Menu *** */
.title
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu .content
{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}

.menu .content .box
{
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0,0,0,0.08);

}

.menu .content .box .imgBx
{
  position: relative;
  width: 100%;
  height: 300px;
}

.menu .content .box .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.menu .content .box .text
{
  padding: 15px 0 5px;
}

.menu .content .box .text h3
{
  font-weight: 400;
  color: #111;
  font-size: 1.17em;
}

/* *** End of Menu *** */

/* *** Experts *** */

.expert .content
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px
}

.expert .content .box
{
  width: 250px;
  margin: 15px;
}

.expert .content .box .imgBx
{
  position: relative;
  width: 100%;
  height: 300px;
}

.expert .content .box .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover:
}

.expert .content .box .text
{
  padding: 15px 0 5px;
}

.expert .content .box .text h3
{
  font-weight: 400;
  color: #111;
  font-size: 1.17em;
}

/* *** End of Experts *** */

/* *** Testimonials *** */

.testimonials
{
  background: url(images/bg2.jpg);
  background-size: cover;
}

.white .title_text, 
.white p
{
  color: white;
}

.testimonials .content
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}

.testimonials .content .box
{
  width:340px;
  margin: 20px;
  padding: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonials .content .box .imgBx
{
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonials .content .box .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials .content .box .text
{
  text-align: center;
}

.testimonials .content .box .text p
{
  color: #666;
  font-style: italic;
}

.testimonials .content .box .text h3
{
  margin-top: 20px;
  font-size: 1em;
  color: #ff0157;
  font-weight: 600;
}

/* *** End of Testimonials *** */

/* *** Contact Form *** */

.contact
{
  background: url(images/bg3.jpg);
  background-size: cover;
}

.contactForm
{
  padding: 75px 50px;
  background: white;
  box-shadow: 0 15px 50px rgba(0,0,0,0.1);
  max-width: 500px;
  margin-top: 50px;
}

.contactForm h3
{
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;

}

.contact .inputBox
{
  position: relative;
  width: 100%;
  margin-bottom: 20px;

}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

.contactForm .inputBox input[type="submit"]
{
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

/* *** End of Contact Form *** */

.copyright_text
{
  padding: 8px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.copyright_text p 
{
  color: #333;
}

.copyright_text a
{
  Color: #ff0157;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 991px)
{
  header,
  header.sticky
  {
    padding: 10px 20px;
  }

  header .navigation
  {
    display: none;
  }

  header .navigation.active
  {
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }

  header .navigation li
  {
    margin-left: 0;
  }
  
  header .navigation li a
  {

  }

  .menu_toggle
  {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(img/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center;
    cursor: pointer;
  }

  .menu_toggle.active
  {
    background: url(img/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  header.sticky .menu_toggle
  {
    filter: invert(1);
  }
  section
  {
    padding: 20px;
  }

  .banner .content h2
  {
    font-size: 3em;
    color: white;
  }

  .menu .content
  {
    margin-top: 20px;
  }

  .menu .content .box
  {
    margin: 10px;
  }

  .menu .content .box .imgBx
  {
    height: 260px;
  }

  .title 
  {
    text-align: center;
  }

  .title_text
  {
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 300;
  }

  .testimonials .content .box
  {
    margin: 10px;
    padding: 20px;
  }

  .contact_form
  {
    padding: 35px 40px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px)
{
  .banner .content h2
  {
    font-size: 2.2em;
    color: white;
  }
}